@import url("./reset.css");

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 64px calc((100% - 960px) / 2);
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-size: 13px;
}

/* 오답 노트 페이지 carousel */
.ant-carousel {
  flex: 1;
}
