@import url("./reset.css");

body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 64px calc((100% - 960px) / 2);
}

:root {
  font-size: 13px;
}
